.App {
  padding-top: 20px;
  text-align: left;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
  background-color: #ededed;
}

form {
  width: 300px;
  align-items: left;
  display: flex;
  flex-direction: column;
}

form button {
  width: 50px;
}

form > * {
  margin: 5px;
}

.divCol {
  column-count: 3;
}

.listHead {
  display: inline-block;
  padding-left: 40px;
}

.divPost {
  width: 600px;
}
